* {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #363636;
  height:100vh;
  margin: auto;
}

.userEnter {
  margin: auto;
}

.headerEnterImg {
  width: 320px;
  margin: auto;
}

.enterPokemonImg {
  width: 250px;
  margin-top: -75px;
  margin: auto;
}

.introText {
  color: white;
  font-size: 30px;
  width: 250px;
  margin-top: -100px;
  margin: auto;
}

.userEnterInput {
  background-color: white;
  border: none;
  border-radius: 10px;
  height: 100%;
  color: #363636;
  padding: 10px 10px;
  margin-top: 100px;
}

.userEnterButton {
  background-color: white;
  border: none;
  border-radius: 10px;
  height: 100%;
  color: #363636;
  font-size: 30px;
  padding: 10px 10px;
  margin-top: 20px;
}

.Header {
}

.headerScore {
  background-color: white;
  margin: auto;
  margin-top: -70px;
  margin-bottom: 30px;
  width: 100px;
  border: none;
  border-radius: 100px;
  height: 100%;
  color: #363636;
}

.headerImg {
  width: 320px;
}

.timer {
  color: white;
  margin: auto;
  width: 30px;
  background-color: black;
  border-radius: 10px;
  padding: 5px 5px;
}

.Card {
}

.nextButton {
  background-color: white;
  border: none;
  border-radius: 10px;
  height: 100%;
  color: #363636;
  padding: 9px 27px;
}

.pokeImg {
  height: 200px;
}

.loadingPokeImg {
  height: 200px;
}

.UserInput {
  margin-top: 40px;
}

.guessInput {
  background-color: white;
  border: none;
  border-radius: 10px;
  height: 100%;
  color: #363636;
  padding: 10px 10px;
  margin-top: 20px;
}

.guessButton {
  background-color: white;
  border: none;
  border-radius: 10px;
  height: 100%;
  color: #363636;
  padding: 10px;
  margin: 20px;
}

.bottomStatusText {
  font-size: 30px;
  margin: auto;
  padding: 10px;
}

.Result{
  font-size: 30px;
  color: white;
  margin:auto;
  padding: 30px;
}
.LeaderBoard{
  flex:1;
  border: 2px solid white;
  width: 50%;
  height: 700px;
  margin:auto;  
  padding: 15px;
  background-color: #363636;
  overflow-y: scroll;
}

.user{
  display: flex;
  justify-content: center;
  font-size: larger;
}

.userName{
  text-transform: capitalize;  
  position: relative;
  margin:auto;
}

.userScore{
  position: relative;
}

.userRank{
  position: relative;

}

.copyRight{
  position: absolute;
  bottom: 10px;
  font-size: large;
}